<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <title>MyContactList</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="#home" class="w3-bar-item w3-button"><b>Contacts</b></a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a href="/" class="w3-bar-item w3-button">Main</a>
            <a href="/MyContacts" class="w3-bar-item w3-button">MyContacts</a>
            <a href="/MyContacts/Add" class="w3-bar-item w3-button">Add</a>
        </div>
    </div>
</div>
<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="https://images.unsplash.com/photo-1549654917-9ddb6fed998f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="image" style="width:1500px; height=500px;">
    <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white"><b><img src="https://st-1.akipress.org/st_all/bilim/9/1519540999.2.jpg" alt="Alatoo" style="width:100px" height="100px"></b> <span class="w3-hide-small w3-text-light-grey">Kalmyrza</span></h1>
    </div>
</header>
<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">



    <!-- About Section -->
    <div class="w3-container w3-padding-32" id="about">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
        <p>An address book or a name and address book is a book or a database used for storing entries called contacts.
            Each contact entry usually consists of a few standard fields (for example: first name, last name, company name, address, telephone number, e-mail address, fax number, mobile phone number).
            Most such systems store the details in alphabetical order of people's names, although in paper-based address books entries can easily end up out of order as the owner inserts details of more individuals or as people move.
            Many address books use small ring binders that allow adding, removing and shuffling of pages to make room.
        </p>
    </div>

    <div class="w3-row-padding w3-grayscale" id="ContactsList">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/002irm_ons_crd_03.jpg" alt="John" style="width:100%">
            <h3>Iron Man</h3>
            <p class="w3-opacity">superhero</p>
            <p>10880 Malibu Point, 90265</p>
            <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/004tho_ons_crd_03.jpg" alt="Jane" style="width:100%">
            <h3>Thor</h3>
            <p class="w3-opacity">Asgard</p>
            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/spidey02_ons_crd_01.jpg" alt="Mike" style="width:100%">
            <h3>Spider Man</h3>
            <p class="w3-opacity">Superhero</p>
            <p>
                15th Street, Queens, New York City, New York (second apartment)
                20 Ingram Street, Forest Hills, Queens, New York City, New York</p>
            <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/009drs_ons_crd_02.jpg" alt="Dan" style="width:100%">
            <h3>Doctor Strange</h3>
            <p class="w3-opacity">Superhero</p>
            <p>177A Bleecker Street, New York City, NY 10012-1406, on the corner of Bleecker Street and Fenno Place in the heart of Greenwich Village.</p>
            <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
    </div>
    <!-- End page content -->
</div>
<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
    <p>Powered by Kalmyrza</p>
</footer>

</body>
</html>